body {
    background-image: url("../img/cyber.jpg");
    background-size: cover;
    margin: 0px;
}

#topbox {
    width: 100%;
    height: 8vh;
    line-height: 50px;
    background: rgba(7 7 131 / 46.3%);
    text-align: center;
    box-shadow:0 0 100px 30px white;
}

.topText {
    padding-top: 5px;
    font-size: 30px;
    font-style: italic;
    color: white;
}

#tablebox {
    float: left;
    height: 500px;
    width: 850px;
    background: rgba(0 128 0 / 50%);
    border-radius: 20px;
    border: 3px solid silver;
    margin-top: 120px;
    margin-left: 30px;
    box-shadow:0 0 50px 5px silver;
}

#graphics {
    padding-top: 125px;
    padding-left: 80px;
}

.coordinate {
    font-size: 15px;
    position: absolute;
    text-align: center;
    margin-left: 6px;
}

#y {
    padding-left: 128px;
    padding-top: 3px;
}

#x {
    padding-left: 230px;
    padding-top: 130px;
}

#coorRd2_x {
    padding-left: 159px;
    padding-top: 105px;
}

#coorR_x {
    padding-left: 205px;
    padding-top: 105px;
}

#coorRd2_y {
    padding-left: 125px;
    padding-top: 72px;
}

#coorR_y {
    padding-left: 125px;
    padding-top: 26px;
}

#coor-Rd2_x {
    padding-left: 65px;
    padding-top: 105px;
}

#coor-R_x {
    padding-left: 23px;
    padding-top: 105px;
}

#coor-Rd2_y {
    padding-left: 125px;
    padding-top: 160px;
}

#coor-R_y {
    padding-left: 125px;
    padding-top: 205px;
}

#canvas {
    position: relative;
    padding-left: 70px;
    padding-top: 120px;
}

#parametersbox {
    position: absolute;
    height: 440px;
    width: 420px;
    background: rgba(255 255 255 / 70%);
    border-radius: 20px;
    left: 430px;
    bottom: 175px;
}

#parametersx {
    font-size: 18px;
}

.coorhead {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.checkbox {
    margin-right: 10px;
}

#submit {
    margin-top: 20px;
    height: 32px;
    border-radius: 20px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-width: 3px;
}

#submit:hover {
    border-color: yellow;
}

table {
    float: right;
    margin-right: 20px;
    margin-top: 120px;
    border-collapse: collapse;

}

th {
    padding: 10px;
    background-color: rgb(207 35 61);
    color: white;
}

td {
    text-align: center;
    padding: 5px;
}

th:nth-child(odd) {
    background-color: rgb(178 37 58);
}

tr:nth-child(even) {
    background-color: rgb(255 255 255);
}

tr:nth-child(odd) {
    background-color: rgb(234 226 226);
}

tr:hover {
    background-color: rgb(202 200 200);
}

.dot {
    margin-left: 125px;
    margin-top: 125px;
    position: absolute;
    height: 4px;
    width: 4px;
    align-content: center;
    background-color: red;
}